 button:hover {
    cursor: pointer;
}

html { 
    background: url('../images/marble_background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.puzzle-frame {
    height: 90vh;
    /* top: 11px; */
    position: relative;
    top: 15px;
    right: 100px;
}

.note-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
}

.puzzle-and-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    
}

