 button:hover {
    cursor: pointer;
}

html { 
    background: url('../images/marble_background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .game-board {
    display: flex;
    position: relative;
    flex-direction: row;
  }

  .puzzle-and-picture {
    display: flex;
    position: absolute;
  }

  .puzzle-frame {
    display: flex;
    position: absolute;
    height: 94vh;
    width: 70vw;
  }

  .note-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 1000px;
  }
 
  .frame-and-canvas {
    display: flex;
    position: relative;
  }

  #myCanvas {
    background-color: aliceblue;
    top: 103px;
    display: flex;
    position: absolute;
    left: 141px;
    height: 62vh;
    width: 49vw;
  }

